<div class="container-fluid bg-dark text-light p-3 d-flex align-items-center justify-content-between sticky-top">
    <h3>ADMIN PANEL</h3>
    <a routerLink="/" class="btn btn-light btn-sm">USER INTERFACE</a>
  </div>
  
  <div class="d-flex">
    <!-- Sidebar (on the left) -->
    <div class="bg-dark border-top border-3 border-secondary" id="dashboard-menu">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid flex-column align-items-stretch">
          <h4 class="mt-2 text-light">ADMIN PANEL</h4>
          <button
            class="navbar-toggler shadow-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#adminDropdown"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column align-items-stretch mt-2" id="adminDropdown">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin_settings">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin_solution">Solutions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin_fournisseurs">Fournisseur</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin_categories">Categories</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin_user">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin_contactus">User Queries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin_paiements">Paiements</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- Main content container -->
    <div class="flex-grow-1 p-4" id="main-content">
      <ng-content></ng-content>
    </div>
  </div>
  