/* Sidebar */
#dashboard-menu {
    min-width: 300px; /* Increased width for the sidebar */
    height: 100vh; /* Full height for the sidebar */
    position: sticky; /* Stays fixed when scrolling */
    top: 0;
    overflow-y: auto; /* Adds a scrollbar if content overflows */
  }
  
  /* Main content */
  #main-content {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  