<div class="body">
<!-- footer.component.html -->
<footer class="bg-light py-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h5>à propos</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <h5>Useful Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none text-dark">Acceuil</a></li>
            <li><a href="#" class="text-decoration-none text-dark">Nos Solutions</a></li>
            <li><a href="#" class="text-decoration-none text-dark">Nos Formations</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Suivez-nous</h5>
          <a href="#" class="text-decoration-none text-dark me-3">
            <i class="bi bi-facebook" style="font-size: 1.5rem;"></i>
          </a>
          <a href="#" class="text-decoration-none text-dark me-3">
            <i class="bi bi-twitter" style="font-size: 1.5rem;"></i>
          </a>
          <a href="#" class="text-decoration-none text-dark">
            <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
          </a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p class="mb-0">© 2025 C2S.Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </footer>
</div> 