<app-dashheader>
  <div>
    <div style="display: flex; align-items: center; gap: 10px; justify-content: flex-end;" class="text-end mb-4">
      <a (click)="deleteAllUsers()" class="btn btn-danger" style="display: inline-flex; align-items: center; justify-content: center; height: 50px;">
        <i class="bi bi-trash"></i> Delete all
      </a>
    </div>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 1%;">#</th>
          <th scope="col" style="width: 15%;">Name</th>
          <th scope="col" style="width: 15%;">Email</th>
          <th scope="col" style="width: 15%;">Address</th>
          <th scope="col" style="width: 10%;">Phone</th>
          <th scope="col" style="width: 25%;">Formations</th>
          <th scope="col" style="width: 10%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.adresse }}</td>
          <td>{{ user.phone }}</td>
          <td>
            <ul>
              <li *ngFor="let formation of user.formations">{{ formation.name }}&nbsp;&nbsp;&nbsp;{{ formation.dateDebut |date }}&nbsp;/&nbsp;{{ formation.dateFin|date }} </li>
            </ul>
          </td>
          <td>
            <a (click)="deleteUser(user.id)" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-dashheader>
