.body {
    background-color: #f8f9fa; 
    background: linear-gradient(45deg, #002c56, #004d72, #00768c);
    align-items: center;

}

.container {
    margin-top: 100px;
   
}
  

  .row > .col-md-3 {
    padding-left: 1rem;   
    padding-right: 1rem;
  }
  

.solution-card {
  
  flex-direction: column;
  height: 100%; 
}

.card {
  
  flex-direction: column;
  height: 100%; 
  min-height: 350px; 
  margin-right: 100px;
}


.card img {
  width: 100%;
  height: 200px; 
  object-fit: fill; 
  
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
}


.actions {
  display: flex;
  gap: 10px; 
  align-items: center; 
}


.actions button {
  margin-right: 10px; 
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.intro-section {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.intro-section h2 {
  font-size: 28px;
  font-weight: bold;
  color: #007bff; 
}

.intro-section p {
  font-size: 16px;
  color: #ffffff; 
}
.btn:hover{
  background-color:rgb(9, 67, 94) ;
}
.pdf{
  color: rgb(124, 118, 121);
}
.pdf:hover{
  color: rgb(9, 67, 94) ;
}