
table img {
    width: 110px; 
    height: auto; 
    object-fit: contain; 
    border-radius: 5px; 
    display: block; 
    margin: 0 auto; 
  }
  
 
  table th,
  table td {
    text-align: center; 
    vertical-align: middle; 
  }
  

  table td {
    padding: 10px;
  }
  
  table th {
    padding: 10px;
  }
  
