<app-dashheader>
    <div>
      <h3 class="mb-4">Solutions</h3>
      <div class="card border-0 shadow-sm mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="card-title m-0">Solutions</h5>
            <button
              type="button"
              class="btn btn-dark shadow-none btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#solution-s" (click)="resetNewSolution()">
              <i class="bi bi-plus-square"></i> Add
            </button>
          </div>
          <div class="table-responsive-md" style="height: 350px; overflow: scroll;">
            <table class="table table-hover border">
              <thead>
                <tr class="bg-dark text-light">
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Price</th>
                  <th scope="col">Image</th>
                  <th scope="col">Pdf File</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="features-data">
                <tr *ngFor="let solution of solutions ; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{solution.name}}</td>
                    <td>{{solution.description}}</td>
                    <td>{{solution.prix}}</td>
                    <td><img [src]="solution.image"></td>
                    <td>{{solution.devis}}</td>
                    <td><a class="btn btn-secondary " data-bs-toggle="modal"
                      data-bs-target="#Modifysolution-s" (click)=" editSolution(solution)"><i class="bi bi-pencil-square"></i></a>&nbsp;
                      <a class="btn btn-danger" (click)="deleteSolution(solution.id)"><i class="bi bi-trash3"></i></a></td>          
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </app-dashheader>


  <!-- Solution Modal-->
<div class="modal fade" id="solution-s" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form (ngSubmit)="addSolution()" #solutionForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Solution</h5>
        </div>
        <div class="modal-body">
          <!-- Display error message -->
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input [(ngModel)]="newSolution.name" name="solution_name" type="text" class="form-control shadow-none" required #name="ngModel">
            <div *ngIf="name.invalid && name.touched" class="text-danger">Name is required</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <input [(ngModel)]="newSolution.description" name="solution_description" type="text" class="form-control shadow-none" required #description="ngModel">
            <div *ngIf="description.invalid && description.touched" class="text-danger">Description is required</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input [(ngModel)]="newSolution.prix" name="solution_price" type="number" class="form-control shadow-none" required [min]="0.01" #prix="ngModel">
            <div *ngIf="prix.invalid && prix.touched" class="text-danger">Price must be greater than 0</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input [(ngModel)]="newSolution.image" name="solution_image" type="text" class="form-control shadow-none" required #image="ngModel">
            <div *ngIf="image.invalid && image.touched" class="text-danger">Image URL is required</div>
          </div>
          <div class="mb-3">
            <label class="form-label">PDF File URL</label>
            <input [(ngModel)]="newSolution.devis" name="solution_pdf" type="text" class="form-control shadow-none" required #pdf="ngModel">
            <div *ngIf="pdf.invalid && pdf.touched" class="text-danger">PDF URL is required</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger shadow-none" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-dark shadow-none" [disabled]="solutionForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

  <!--Modify Solution Modal-->
<div class="modal fade" id="Modifysolution-s" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form (ngSubmit)="updateSolution()" #solutionForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Solution</h5>
        </div>
        <div class="modal-body">
          <!-- Display error message -->
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input [(ngModel)]="newSolution.name" name="solution_name" type="text" class="form-control shadow-none" required #name="ngModel">
            <div *ngIf="name.invalid && name.touched" class="text-danger">Name is required</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <input [(ngModel)]="newSolution.description" name="solution_description" type="text" class="form-control shadow-none" required #description="ngModel">
            <div *ngIf="description.invalid && description.touched" class="text-danger">Description is required</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input [(ngModel)]="newSolution.prix" name="solution_price" type="number" class="form-control shadow-none" required [min]="0.01" #prix="ngModel">
            <div *ngIf="prix.invalid && prix.touched" class="text-danger">Price must be greater than 0</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input [(ngModel)]="newSolution.image" name="solution_image" type="text" class="form-control shadow-none" required #image="ngModel">
            <div *ngIf="image.invalid && image.touched" class="text-danger">Image URL is required</div>
          </div>
          <div class="mb-3">
            <label class="form-label">PDF File URL</label>
            <input [(ngModel)]="newSolution.devis" name="solution_pdf" type="text" class="form-control shadow-none" required #pdf="ngModel">
            <div *ngIf="pdf.invalid && pdf.touched" class="text-danger">PDF URL is required</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger shadow-none" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-dark shadow-none" [disabled]="solutionForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>




  