.body {
    background-color: #f8f9fa; 
    background: linear-gradient(45deg, #002c56, #004d72, #00768c);
    color: white;

}
.cart-container {
    position: relative;
  }
  
  .list-group-item {
    position: relative;
    padding-right: 50px;
  }
  
  .remove-btn {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: red;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .remove-btn:hover {
    color: darkred;
  }
